.editor-search-letters {
    padding: 10vh 0;
}

.MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.3;
}

#noteReferencedXmlWrapper {
    padding: 5px;
    border: 1px solid var(--secondary-color);

    #noteReferencedXml {
        font-size: var(--font-size-small);
        span.marked {
            background-color: var(--marked-color);
        }
    }
}

note {
    cursor: pointer;
}

